$primary-color:rgb(188, 194, 15);

.card {
  background-color: $primary-color;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: 200px;
  color: rgb(30, 26, 47);
}